@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    font-family: 'Montserrat', Arial, sans-serif;
}


.btn.btn-success {
    width: 100%;
    background-color: #8c01f7;
    border: 0;
}
.btn.btn-success:hover {
    background-color: #51018e;
}

.btn.btn-info {
    width: 100%;
    background-color: #be01f7;
    border: 0;
    color: #fff;
    height: 50px;
}
.btn.btn-info:hover {
    background-color: rgb(56, 2, 97);
}

.btn.btn-primary {
    background-color: #fc36eb;
    border: 0;
}
.btn.btn-primary:hover {
    background-color: #941a8a;
}

.btn.btn-warning {
    width: 100%;
    background-color: red;
    border: 0;
}

.detalle-tarea p {
    text-align: left;
    padding: 0 20px;
    line-height: 25px;
}

.estado-tarea {
    background-color: #efefef;
    border-radius: 10px;
    padding: 30px 20px;
}

.card-img {
    height: 200px;
    object-fit: cover;
    object-position: top center;
    border-radius: 0.03px 0.03px 0 0;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.titulo-ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    }

.multiline-ellipsis {
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
white-space: pre-wrap;
}