@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

* {
    font-family: 'Montserrat', Arial, sans-serif;
}


.btn.btn-success {
    width: 100%;
    background-color: red;
}